include *.rst
include *.txt
include setup.cfg
include .travis.yml tox.ini

graft rocketcea
recursive-include rocketcea/examples *
recursive-include rocketcea/tests *
prune */__pycache__
global-exclude *.py[co]

# for data files use something like:
#  recursive-include rocketcea/<data_directory> *

# The manifest template commands are:

#       Command                                  Description
# include pat1 pat2 ...                include all files matching any of the listed patterns
# exclude pat1 pat2 ...                exclude all files matching any of the listed patterns
# recursive-include dir pat1 pat2 ...  include all files under dir matching any of the listed patterns
# recursive-exclude dir pat1 pat2 ...  exclude all files under dir matching any of the listed patterns
# global-include pat1 pat2 ...         include all files anywhere in the source tree matching any of the listed patterns
# global-exclude pat1 pat2 ...         exclude all files anywhere in the source tree matching any of the listed patterns
# prune dir                            exclude all files under dir
# graft dir                            include all files under dir